docs/build/
docs/src/examples/
.DS_Store

LocalPreferences.toml
Manifest.toml
/docs/Manifest.toml
/docs/src/examples/*.md

docs/src/getting_started_auto.md

# My
_table.xlsx
_devel_tp.py
_matlab/

*.jld2
*.bson
*.dat
*.zdat

# Binary files
*.out
*.h5
*.pkl

# Developing
.vscode

tmp_dev_*